@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --font-Inter:"Inter";
    --color-Primary:#4172df;
    --color-Secondary:#6776a2;
    --color-Tertiary:#ab4c00;
    --color-Neutral:#75777f;
    --animation-fadeIn:fadeIn 0.3s ease-in-out;
    --animation-fadeOut:fadeOut 0.3s ease-in-out;
}

